.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5vmin;
  background: #b19cd9;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  transition: width 0.15s ease-in-out;
}
